@using EntityLayer.Concrete
@model List<MovieComment>
@{
    ViewBag.Title = "CommentByMovie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .moviedate {
        width: 400px !important;
    }
</style>

<h2>&#34;@ViewBag.name&#34; Rəyləri</h2>

<link href="~/web-MarvelKopat/web-marvel-movies 2 admin/CSS/comment.css" rel="stylesheet" />


@foreach (var x in Model.Where(x => x.ID == ViewBag.id))
{
    <div class="comment">
        <div class="id">
            @x.MovieCommentID
        </div>
        <img src="@x.User.UserImage" class="ProfImg">
        <div class="UserNameComTxt">
            <h2>@x.User.UserName</h2>
            <p>
                @x.MovieCommentText
            </p>
        </div>
        <div class="moviedate">
            <h2>@x.Movie.Name</h2>
            <h3>@(((DateTime)x.CommentDate).ToString("dd.MM.yyyy"))</h3>
        </div>
        <div class="date">
            <h3>@x.CommentStatus</h3>
        </div>
        <div class="detdel">
            <a href="#" class="btn btn-warning">Tam bax</a>
            <a href="/MovieComment/ActiveCommentByMovie/@x.MovieCommentID" class="btn btn-primary">Aktiv et</a>
            <a href="/MovieComment/DelCommentByMovie/@x.MovieCommentID" class="btn btn-danger">Sil</a>
        </div>
    </div>
}
<br />
<a href="/Movie/MoviesList" class="cancelbtn">Çıxış</a>